/* --- Header --- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header button {
    width: 200px;
    margin: 0 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding-bottom: 4px;
    padding-top: 5px;
    border-radius: 20px 0;
    border: 1px solid black;
    background: #ddd;
}

/* --- Problems --- */
.dependent {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 20px;
}

.dependent h3 {
    text-transform: initial;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    color: white;
    background: linear-gradient(135deg, white, #ff0ecf, #d03232);
}

.dependent-list {
    margin-top: 20px;
}

.dependent-list h3 {
    text-transform: initial;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.dependent-list li {
    margin-top: 20px;
}


.dependent-container {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    background: white;
    padding: 10px;
    font-size: 1.25rem;
    display: none;
}

.dependent-container input {
    width: 100%;
    border: 1px solid black;
    outline: none;
    font-size: 1.25rem;
    padding: 15px 5px;
    margin-bottom: 20px;
}

.dependent-container label {
    margin-left: 10px;
    position: relative;
    top: 8px;
    background: white;
    padding: 5px 15px;
}

.dependent-list button {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.5rem;
    background: white;
    border: 1px solid black;
}

.dependent-container button>span {
    font-size: 1.1rem;
    color: white;
    font-weight: bolder;
}