/* --- Header --- */
.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.header button {
    width: 200px;
    margin: 0 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding-bottom: 4px;
    padding-top: 5px;
    border-radius: 20px 0;
    background: #ddd;
    border: 1px solid black
}

/* --- Problems --- */
.problems {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 20px;
}

.problems h3 {
    text-transform: initial;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin-bottom: 10px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}