{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MFID</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

    {% block content %}{% endblock content %}

    <nav class="menu" id="menu">
        <li>
            <a href="{% url "problems" %}">
                <span class="material-symbols-outlined">view_cozy</span>
            </a>
        </li>
        <li>
            <a href="{% url "search" %}">
                <span class="material-symbols-outlined">search</span>
            </a>
        </li>
        <li id="sos-icon">
            <a href="{% url "index" %}">
                <img src="{% static "images/mfid_logo.jpg" %}" alt="home">
            </a>
        </li>
        <li>
            <a href="{% url "settings" %}">
                <span class="material-symbols-outlined">settings</span>
            </a>
        </li>
        <li>
            <a href="{% url "apps" %}">
                <span class="material-symbols-outlined">apps</span>
            </a>
        </li>
    </nav>
    {% block js %}{% endblock js %}
</body>

</html>